* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../img/backgroundHW4.gif);

	/*background: #0e85a8;*/
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.75);
}
.wrapper:after {
	content: '';
	display: block;
	clear: both;
}

/*HEADER*/

.header {
	background: white;
	padding-right: 30px;
}

.logo_1 {
	margin: 0;
	padding: 0;
	background: white;
	float: left;
}
.logo_2 {
	margin: 0;
	padding: 0;
	float: right;

}
.contacts {
	margin: 10px 0px 30px 300px;
	color: #5fa5bb;

}

.contacts span {
	display: block;
}

.countries {
	float: right; /*����� ������ ���� �����, ������ ���������� �� �����,*/
}


.countries li{
	display: inline-block;
	margin-left: 15px;
	list-style: none;
	text-align: center;
}
.countries img{
	display: block;

}
.countries a {
	font-size: 8px;

}
.logo:after {
	clear: both;
	display: block;
	content: '';
}
.header:after{
	display: block;
	content: ' ';
	clear: both;
}
/*CENTER*/
.center {
	background: color="#128aa7";
}

.center:after {
	clear: both;
	content: ' ';
	display: block;
}

/*MENU*/


.menu > ul {
	padding: 0 56px;
	display: block;
  	list-style: none;
 	border: 1px	solid black;
	background:  linear-gradient(to bottom, #373737, #303030);
	-webkit-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
}
.menu ul:after{
	content: '';
	display: block;
	clear: both;
}

.menu li {
	display: inline-block;
	line-height: 40px;
	text-align: center;
    position: relative;
	padding: 0 23px;

}
.menu  a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	color: white;

}

.menu a:hover {
	color: grey;
}

.menu ul.submenu {
	border-top: 1px solid black;
	position: absolute;
	display: none;
	width: 115%	;
	line-height: 40px;
	background:  #303030;
	box-shadow:0px 5px 15px 1px rgba(0,0,0,0.75);
	z-index: 	1;
}
.menu ul.submenu > li> a:hover {
	 text-decoration: underline;
}

.menu li:hover >  ul.submenu {
	display: block;
}


.menu:after{
	content: ' ';
	display: block;
	clear: both;

}

/*CONTENT*/

.content {
	position: relative;
	overflow: 	hidden;
	background: white;
}

.content h3 {
	text-align: center;
	line-height: 40px;
}

.content p {
	padding: 0 15px;
}

.content:after {
	content: '';
	clear: both;
	display: block;
}

.first  {
	float: left;
	background: #edeef0;
	width: 22%;
	border: 1px solid #c7cacf;
	color: #424c43;
	padding-bottom: 1500px;
	margin-bottom:  -1500px;
}


.second {
	float: left;
	width: 55%;
}

.third {
	float: right;
	background: #edeef0;
	width: 22%;
	border: 1px solid #c7cacf;
	color: #424c43;
}

.footer {
	line-height: 60px;
	text-align: center;
	color: white;
}
